:root{
    --primary-bg-color: #0D1224;
    --primary-text-color: #FFF;
    --secondary-text-color: #16F2B3;
    --highlight-text-color: #EC4899;
    --primary-width: 1400px;
    --code-highlight-1: #FCD34D;
    --code-highlight-2: #fb923c;
    --code-highlight-3: #22d3ee;
    --code-highlight-4: #4ade80;
    --section-heading-bg-color: #231D4B;
}
html{
    scroll-behavior: smooth;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    height: auto;
}

body{
    width: 100%;
    font-family: "Inter", serif;
    background-color: var(--primary-bg-color);
    padding: 10px 30px;
    position: relative;
    height: 99999;
}

::-webkit-scrollbar{
    display: none;
}